!!!html
%head
  %meta(charset="utf8")
  %title= @title
  %meta(name="viewport" content="width=device-width,user-scalable=no")
  %meta(name="X-UA-Compatible" content="IE-Edge")
%body
  %header
    %h1= t(:title)
    %h2= t(:subtitle)
  %nav
    %ul
      - t(:links).each do |link|
        %li= link_to(*link)

  = yield

  /[if lt IE 9]
    %script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    %script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
  %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
